/* .assetContainer {
  width: 90%;
  margin: auto;
  background-color: #121212;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  color: black;
  margin-top: 2vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2); 
} */

.assetContainer h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: #daad65;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: underline;
}

.assetContainer img {
  width: 2vw;
  height: 2vw;
  background: transparent;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 2vh 2vw;
  font-size: 16px;
  border: 2px solid #daad65;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  margin: 0 2vw;
  background-color: transparent;
  color: #daad65;
}

.searchInput::placeholder {
  color: #daad65;
  opacity: 1;
}

.tableContainer {
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.2);
  padding:0;
  margin:0;
}
table {
  width: 90%;
  border-collapse: collapse;
  margin: 1.25vh auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;

}

th,
td {
  padding: 2vh;
  text-align: left;
  text-wrap: nowrap;
}

th {
  background: #f4f4f4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.05);
}

tr:hover {
  background: #f1f1f1;
  background-color: rgba(255, 215, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.change {
  font-weight: bold;
  padding: 2vh 2vw;
  border-radius: 5px;
  text-align: center;
}

.red {
  color: #d9534f;
  background: #f8d7da;
}

.green {
  color: #28a745;
  background: #d4edda;
}

.pagination {
  text-align: center;
  margin-top: 2vh;
}

.pagination button {
  padding: 1.5vh 1.5vw;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #121212;
  color: #daad65;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    padding: 10px;
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  .pagination button {
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  th,
  td {
    font-size: 12px;
    padding: 8px;
  }

  h2 {
    font-size: 18px;
  }

  .pagination button {
    font-size: 12px;
    padding: 5px 10px;
  }
}
