.exchangesContainer {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2vw;
  border:2px solid white;
}

.exchangeCard {
  border: 2px solid red;
  background: #fff;
  color: black;
  padding: 1.25vw;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: left;
  width: 17vw;
  height:60vh;
}

.exchangeCard:hover {
  transform: translateY(-5px);
}

.exchangeCard h2 {
  font-size: 20px;
  margin-bottom: 1.25vh;
  color: #333;
  display: flex;
  justify-content: left;
  align-items: center;
}

.exchangeCard strong {
  color: #444;
}

.exchangeCard p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.exchangeCard span {
  font-weight: bold;
  color: #28a745;
}

.exchangeCard span .false {
  color: #ff4d4d;
}

.loadMoreBtn {
  background-color: #ff6b6b;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2vh;
  transition: background 0.3s ease;
  align-items: center;
}


.loadMore {
    display:flex;
    justify-content: center;
    align-items: center;
}