.exchangeCard {
  border-top: 2px solid red;
  background: #fff;
  color: black;
  /* padding: 0.25vw; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: left;
  width: 20vw;
  height: 60vh;
  position: relative;
}

/* .exchangeCard:hover {
  background: linear-gradient(135deg, #3b82f6, #1e40af);
  color: white;
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
} */
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 8rem;
}

.imageContainer img {
  object-fit: cover;
  border: 2px solid black;
}

.exchangesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2vw;
  border: 2px solid white;
}

.rankContainer {
  width: 2vw;
  height: 2vw;
  background-color: aqua;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 26%; /* Position from top */
  right: 45%;
}
.nameContainer h2 {
  text-align: center;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  padding-bottom: 0;

  /* margin:2vh 6px; */
  /* padding-bottom: 4px; */
  /* margin: 20px 6px; */
}

.totalVolumeContainer,
.volumeContainer,
.pairContainer,
.socketSupportContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333;
  margin: 0 6px;
}
/*
.exchangeCard {
  border: 2px solid red;
  background: #fff;
  color: black;
  padding: 1.25vw;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: left;
  width: 17vw;
  height:60vh;
}

.exchangeCard:hover {
  transform: translateY(-5px);
}

.exchangeCard h2 {
  font-size: 20px;
  margin-bottom: 1.25vh;
  color: #333;
  display: flex;
  justify-content: left;
  align-items: center;
}

.exchangeCard strong {
  color: #444;
}

.exchangeCard p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.exchangeCard span {
  font-weight: bold;
  color: #28a745;
}

.exchangeCard span .false {
  color: #ff4d4d;
}

.loadMoreBtn {
  background-color: #ff6b6b;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2vh;
  transition: background 0.3s ease;
  align-items: center;
}


.loadMore {
    display:flex;
    justify-content: center;
    align-items: center;
}
 */
