.homepageContainer {
  width: 95%;
  height: 100vh;
  position: relative;
  margin: 4px auto;
}

.homepageContainer span {
  color: #daad65;
  text-transform: uppercase;
  position: relative;
}

.homepageContainer span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ffcc70;
  transition: width 0.4s ease-in-out;
}

.homepageContainer span:hover::after {
  width: 100%;

}

.content {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 5vw;
}

.left h1 {
  font-size: 4vw;
  line-height: 4.4vw;
  animation: fadeInUp 1.5s ease-in-out;
}

.left p {
  animation: fadeInUp 2s ease-in-out;
  line-height: 3.4vw;
  font-weight: 400;
  transform: translateY(-2px);
}

.left p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ffcc70;
  transition: width 0.4s ease-in-out;
}

.left p:hover::after {
  width: 100%;
}

.subtext {
  font-size: 2vw;
  font-weight: 600;
  color: "#666";
  width: 100%;
}

.getStarted {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: #121212;
  font-size: 2vw;
  border: 1px solid #daad65;
  padding: 10px 10px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  animation: fadeInUp 2.5s ease-in-out;
  background: linear-gradient(135deg, #e6b056, #b88a40);
  box-shadow: 0 0 10px #daad65;
}

.getStarted:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(218, 173, 101, 0.8);
  transform: scale(1.05);
}

.right {
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cryptoImage {
  width: 25vw;
  height: 25vw;
  border-radius: 55%;
  animation: upDown 2s ease-in-out infinite;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10vw #daad65;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
