.liveMarketContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  background-color: #121212;
  color: #fff;
}

.liveMarketContainer .liveMarketContent {
  width: 90%;
  text-align: center;
}

.liveMarketContent .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.liveMarketContainer .errorText {
  color: red;
  font-weight: bold;
}

.liveMarketContent .tableWrapper {
  overflow-x: auto;
  margin-top: 20px;
}

.marketTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: scroll;
}

.marketTable th,
.marketTable td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.marketTable th {
  background-color: var(--golden-accent);
  color: #121212;
  font-weight: bold;
}

.marketTable tr:hover {
  background-color: rgba(243, 156, 18, 0.2);
  transition: 0.3s ease-in-out;
}

/* Row Animation */
.tableRow {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Table */
@media (max-width: 768px) {
  .marketTable {
    font-size: 14px;
  }

  .marketTable th,
  .marketTable td {
    padding: 8px;
  }
}
