.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  font-size: 4rem;
  color: black;
  animation: spin 3s linear infinite, fadePulse 2s ease-in-out infinite;
}

.container p {
  font-size: 18px;
  font-weight: bold;
  animation: fadePulse 2s ease-in-out infinite;
}

@keyframes fadePulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
