.navbarContainer {
  height: 75px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid var(--golden-accent);
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 4px var(--golden-accent);
  margin: 10px auto;
  border-bottom: 2px solid var(--golden-accent);
}

.navbarContainer:hover {
  box-shadow: 0 8px 10px var(--golden-accent);
  transition: box-shadow 0.6s ease-in-out;
}

.navbarContainer h1 {
  cursor: pointer;
}


.navbarContainer .navbarRight {
  display: flex;
  gap: 3vw;
}


.navbarLeft {
  font-size: 1.75vw;
  font-weight: bold;
  white-space: nowrap;
}

.navbarLeft span a{
  color: #daad65;
  text-decoration: none;
}

.navbarRight h3 a {
  margin: 0;
  font-size: 1.25vw;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  color: white;
  text-decoration: none;
}

.navbarRight h3 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ffcc70;
  transition: width 0.4s ease-in-out;
}

.navbarRight h3 a:hover::after {
  width: 100%;
}

.navbarRight h3 a:hover {
  color: #daad65;
}

@media (max-width: 768px) {
  .navbaContainer {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 10px 0;
  }

  .navbarRight {
    flex-direction: column;
    gap: 10px;
  }
}
