body {
  background-color:#121212;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* html,body {
  height:100%;
  width:100%;
} */

/* :root {
  --bg-light: #ffffff;
  --bg-dark: #121212;
  --border-light: black;
  --border-dark: white;
}

body {
  background-color: var(--bg-light);
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.darkmode {
  background-color: var(--bg-dark);
  color: white;
}

.container {
  color:black;
} */